<div class="container">
  <form id="new_question_form" action="/questions" method="POST">
    <label for="question_title">Title:</label>
    <input id="question_title" name="question[title]">
    <label for="question_text">Question:</label>
    <textarea id="question_text" name="question[body]"></textarea>
    <input type="submit" class="button" value="Submit Question">
  </form>
</div>
