<% @questions.each do |question| %>
  <article id="<%= question.id %>">
    <h3><a href="/question/<%= question.user_id %>"><%= question.title %></a></h3>
    <span><%= points(question) %></span>
  </article>
<% end %>
