<% @questions.each do |question| %>
  <article id="<%= question.id %>" class="container">
    <span class="points"><%= points(question) %></span>
    <h3 class="question_title"><a href="/questions/<%= question.id %>"><%= question.title %></a></h3>

  </article>
<% end %>
