<div id="question-index-list">
  <% @questions.each do |question| %>
   <%= erb :'/questions/_index', locals: {question: question} %>
  <% end %>
</div>

<div id="question-index-actions" class="center">
  <a id="new-question-link" href="/questions/new" class="waves-effect waves-light btn green center"><i class="material-icons left">input</i> New Question</a>
</div>
