<% comments.each do |comment| %>
  <div class="container hoverable">
    <p><%= comment.body %></p>
    <span class="badge" data-badge-caption="points"><%= points(comment) %></span>
    <!--passes the comment object into the vote partial to be parsed-->
    <%= erb :'/votes/_vote', locals: {model: comment} %>
  </div><br>
<% end %>
  <div class="center">
    <a id="new_comment_button" class="waves-effect waves-light btn green" href="<%= @post %>">
      <i class="material-icons left">comment</i> New Comment</a>
  </div>

</div>
