<% comments.each do |comment| %>
  <%= erb :'/comments/_show', locals: {comment: comment} %>
<% end %>


  <div class="center">
    <a class="new_comment_button waves-effect waves-light btn green" href="<%= path %>">
      <i class="material-icons left">comment</i> New Comment</a>
  </div>
</div>
