<div class="container">
  <form class="new_comment_form" action="<%= post_path %>" method="POST">
    <label for="comment_text">Comment:</label>
    <textarea id="comment_text" name="body"></textarea>
    <input type="submit" class="button" value="Submit Comment">
  </form>
</div>
