<div class="container hoverable">
  <p><%= comment.body %></p>
  <div class="votable">
    <%= erb :'/votes/_vote', locals: {model: comment} %>
    <span class="new badge green" data-badge-caption="points"><%= points(comment) %></span>
  </div>
</div><br>
