<div class="container hoverable">
  <p><%= comment.body %></p>
  <span class="badge" data-badge-caption="points"><%= points(comment) %></span>
  <%= erb :'/votes/_vote', locals: {model: comment} %>
</div><br>
