<div class ="container hoverable">
  <% if @question %>
    <h3> Comments for "<%= @question.title %>"</h3>
     <a href="/questions/:question_id/comments/new"></a>
  <% else %>
    <h3> Comments for <%= @answer.answerer.username %>s answer</h3>
  <% end %>
</div><br>

<div id="comments-list">
  <!--makes comment creation into a partial to DRY up code -->
  <%= erb :'comments/_index', locals: {comments: comments}%>
</div>
