<% if @errors %>
   <div class="error_container">
       <p><strong> There be problem</strong></p>
       <% @errors.each do |error| %>
         <p><%= error %></p>
       <% end %>
   </div>
<% end %>

<div class="container">
  <form id="new_comment_form" class="center hidden" action="<%= @post_path %>" method="POST">
    <label for="comment_text">Comment:</label>
    <textarea id="comment_text" name="body"></textarea>
    <input type="submit" class="button" value="Submit Comment">
  </form>
</div>


