<% if @errors %>
   <div class="error_container">
       <p><strong> There be problem</strong></p>
       <% @errors.each do |error| %>
         <p><%= error %></p>
       <% end %>
   </div>
<% end %>

<div class="container white-text">
  <h1>Register your account</h1>
  <form action="/users" method="post">

    <label class="white-text" for="username">Username:</label>
    <input type="text" name="username" />
    <br>

    <label class="white-text" for="email">Email:</label>
    <input type="text" name="user[email]"/>
    <br>

    <label class="white-text" for="password">Password:</label>
    <input type="text" name="password" />
    <br>

    <input type="submit" value="Register">
  </form>
</div>
