<form action="/<%= model.class.to_s.downcase %>s/<%= model.id %>/votes" method="post">
  <input type="hidden" value="1" name="value">
  <input type="submit" value="up">
</form>

<form action="/<%= model.class.to_s.downcase %>s/<%= model.id %>/votes" method="post">
  <input type="hidden" value="-1" name="value">
  <input type="submit" value="down">
</form>